<div th:fragment="cardFields (id, name, description, textLink, rate, image, url)">
  <hr>
  <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
    <!-- Add image to the card -->
    <div class="col text-center mb-5">
      <th:block th:if="${#strings.isEmpty(image)}">
        <!-- Render the default image -->
        <img class="rounded img-fluid img-search-list" th:src="@{/assets/img/default/no_image_available.jpg}" />
      </th:block>
      <th:block th:unless="${#strings.isEmpty(image)}">
        <!-- Render the image from the 'image' variable -->
        <img class="rounded img-fluid img-search-list" th:src="@{'/' + image}" />
      </th:block>
    </div>
    <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
      <div>
        <h5 class="fs-3 fw-bold mb-4" th:text="${name}"><!-- name --></h5>
        <p class="text-muted mb-4" th:text="${description}"><!-- description --></p>
        <!-- Add ID to the url and a hyperlink text -->
        <a class="fw-bold link-primary mb-3" th:href="@{/{url}/{id}(url=${url}, id=${id})}">[[${textLink}]]
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-narrow-right fs-3">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <line x1="5" y1="12" x2="19" y2="12"></line>
            <line x1="15" y1="16" x2="19" y2="12"></line>
            <line x1="15" y1="8" x2="19" y2="12"></line>
          </svg>
        </a>
        <div class="d-flex">
          <!-- Use average rate to render rate -->
          <div th:each="i : ${#numbers.sequence(1, 5)}">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16"
                 class="bi bi-star-fill star" th:classappend="${i <= rate} ? 'star-yellow' : ''">
              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>